* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 16px 16px;
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.block {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 50px;

    background-color: blue;
}

#block1 {
    background-color: green;
}

#block2 {
    background-color: greenyellow;
}

#block3 {
    background-color: red;
}

#block4 {
    background-color: black;
}

#block5 {
    background-color: crimson;
}

#block6 {
    background-color: darkmagenta;
}

#block7 {
    background-color: mediumseagreen;
}

#block8 {
    background-color: burlywood;
}

.label {
    padding: 6px;
    background-color: #333;
    border-radius: 12px;

    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
}

.custom-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    padding: 12px;
}

.custom-line {
    stroke-dasharray: 10px;
}

.red-label {
    background-color: red;
}

.custom-line-2 {
    opacity: 0.5;
}

.dragContainer {
    width: 200%;
    height: 200vh;

    background-color: #0001;
}

.baana__reduced-svg path {
    stroke: red;
}

.redStroke {
    stroke: red;
}

.greenFill {
    fill: green;
}

.toggle {
    position: absolute;
    left: 50vw;
    font-size: 16px;
}
