* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#block1, #block2 {
    cursor: pointer;
    position: absolute;

    top: 300px;
    left: 200px;

    width: 100px;
    height: 50px;
    background-color: green;

    transform-origin: right;
    transition: transform 0.1s;
}

#block1:hover, #block2:hover {
    transform: scale(1.1);
}

#block2 {
    top: 600px;
    left: 500px;

    background-color: greenyellow;

    transform-origin: left;
}

.line-label {
    cursor: pointer;
    position: absolute;

    padding: 6px;
    background-color: #000;
    border-radius: 12px;

    font-family: Arial;
    color: white;

    transform: translate(-50%, -50%);
    transition: transform 0.1s;
}

.line-label:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

.custom-path {
    stroke-dasharray: 20px 10px;
}